RPC_URL_MAPPING={"1":"https://eth-mainnet.alchemyapi.io/v2/${ALCHEMY_ID}","5":"https://eth-goerli.alchemyapi.io/v2/${ALCHEMY_ID}","10":"https://opt-mainnet.g.alchemy.com/v2/${ALCHEMY_ID}","56":"https://bsc-dataseed.binance.org/","137":"https://polygon-mainnet.g.alchemy.com/v2/${ALCHEMY_ID}","250":"https://rpcapi.fantom.network/","42161":"https://arb-mainnet.g.alchemy.com/v2/${ALCHEMY_ID}","43114":"https://api.avax.network/ext/bc/C/rpc","80001":"https://polygon-mumbai.g.alchemy.com/v2/${ALCHEMY_ID}","84531":"https://goerli.base.org","421613":"https://goerli-rollup.arbitrum.io/rpc"}
